.content-contact {
    .landing {
        background-image: url('/src/images/hero-contact.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
    
        .navbar-brand {
            img {
                height: 70px;
            }
        }
    
        .navbar-link {
            .nav-item {
                margin-right: 30px;
                font-size: 18px;
            }
            .nav-link {
                color: #FFF9F9 !important;
            }
        }

        .title {
            margin-top: 250px;
            color: #FFFFFF;
        }
    }

    .content {
        height: 800px;
        .banner {
            filter: drop-shadow(10px 15px 9px rgba(0, 0, 0, 0.25));
        }
        .title {
            p {
                font-size: 18px;
                line-height: 35px;
            }
        }
        label {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .footer {
        background: #0F00BA;
        color: #FFFFFF;
        height: 350px;
        margin-top: 80px;
    
        .footer-content {
            .row {
                .col {
                    ul {
                        display: inline-block;
                        list-style: none;
                        padding: 0;
                        margin-bottom: 0;
                        li {
                            margin-bottom: 4px;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                            a {
                                margin-left: 10px;
                                color: #ffffff;
                                font-size: 18px;
                                text-decoration: none;
                            }
                        }
                    }
                    h1 {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}